<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joseph-Store</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav>
    <nav>
      <a href="/">Home</a>
      &nbsp;|&nbsp;
      <a href="/products/">Cost</a>
      &nbsp;|&nbsp;
      <a href="/products/models">Model#</a>
      &nbsp;|&nbsp;
      <a href="/products/year">Year Released</a>
      &nbsp;|&nbsp;
      <a href="/products/version">Version</a>
      &nbsp;|&nbsp;
      <a href="/products/type">Type</a>
      &nbsp;|&nbsp;
      <a href="/products/custometailor">Custom Tailor</a>
      &nbsp;|&nbsp;
      <a href="/products/specialServices">Special Services (The Black Card Members Only) TO BE ADDED IN THE NEAR FUTURE !</a>
      &nbsp;|&nbsp;
    </nav>
  </nav>
  
