<%- include('./partials/header') %>

<h2>The Vacation or Product of Merchandise You Need, Start's Here ! 
    We Have it All ! from basic Sneakers,clothes to high end luxury items of your desires !
    Book a Marvelous Trip or buy your Product Now !
</h2>

<%- include('./partials/footer') %>