<%- include('../partials/header') %>
<h2>Custome Tailor The Product or you own very special vacation</h2>
<%for (let i = 0; i <customeTailor.length;i++){%>
<p><%=customeTailor[i].price%></p>
<!-- _id -->
<%}%>
<%- include('../partials/footer') %>